* {
  box-sizing: border-box;
}

ha-card {
  /*** 
  * Variables START
  ***/

  // Defaults defined by HA variables
  --atc-default-card-background: var(--ha-card-background, var(--card-background-color, white));
  --atc-default-card-border-radius: var(--ha-card-border-radius, 12px);
  --atc-default-icon-color: var(--state-inactive-color);
  --atc-default-icon-color-active: var(--primary-color);
  --atc-default-icon-background: var(--state-inactive-color);
  --atc-default-icon-background-active: var(--primary-color);
  --atc-default-icon-background-opacity: 0.2;
  --atc-default-text-color: var(--primary-text-color);
  --atc-default-text-color-active: var(--primary-text-color-active);
  --atc-default-text-color-unavailble: var(--state-inactive-color);

  // Card background variables
  --atc-card-background: var(--atc-theme-card-background, var(--atc-default-card-background));
  --atc-card-background-active: var(--atc-theme-card-background-active, var(--atc-default-card-background));
  --atc-card-background-unavailable: var(--atc-theme-card-background-unavailable, transparent);
  --atc-card-background-mask: linear-gradient(0deg, transparent 50px, black 100%);
  --atc-card-spacing: 12px;
  --atc-card-border-radius: var(--atc-theme-card-border-radius, var(--atc-default-card-border-radius));
  --atc-card-transition: 180ms ease-in-out 0s;

  // Card Icon variables
  --atc-icon-size: var(--atc-theme-icon-size, 40px);
  --atc-icon-color: var(--atc-theme-icon-color, var(--atc-default-icon-color));
  --atc-icon-color-active: var(--atc-theme-icon-color-active, var(--atc-default-icon-color-active));
  --atc-icon-color-unavailable: var(--state-inactive-color);
  --atc-icon-background: var(--atc-theme-icon-background, var(--atc-default-icon-background));
  --atc-icon-background-active: var(--atc-theme-icon-background-active, var(--atc-default-icon-background-active));
  --atc-icon-background-unavailable: var(--atc-theme-icon-background-unavailable,var(--atc-default-card-background));
  --atc-icon-background-opacity: var(--atc-theme-icon-background-opacity, var(--atc-default-icon-background-opacity));

  // Font sizes
  --atc-name-font-size: var(--atc-theme-name-font-size, 16px);
  --atc-name-font-weight: var(--atc-theme-name-font-weight, 500);
  --atc-state-font-size: var(--atc-theme-state-font-size, 14px);
  --atc-state-font-weight: var(--atc-theme-state-font-weight, 400);

  // Card text variables
  --atc-text-color: var(--atc-theme-text-color, var(--atc-default-text-color));
  --atc-text-color-active: var(--atc-theme-text-color-active, var(--atc-default-text-color-active));
  --atc-text-color-unavailable: var(--atc-theme-text-color-unavailable, var(--atc-default-text-color-unavailble));

  /*** 
  * Variables END
  ***/

  width: 100%;
  height: 100%;

  background: var(--atc-card-background);
  background-size: cover; // if it's an image
  background-position: center; // if it's an image
  transition: background-color var(--atc-card-transition);

  border-radius: var(--atc-card-border-radius);

  cursor: pointer;

  /*** 
  * Elements
  ***/

  .background-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    mask-image: var(--atc-card-background-mask);
    -webkit-mask-image: var(--atc-card-background-mask);

    border-radius: var(--atc-card-border-radius);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
      'icon-area .'
      '. .'
      'name-area name-area';
    
    width: 100%;
    height: 100%;

    overflow: hidden; // to hide the box shadow of the name area

    .icon-area {
      grid-area: icon-area;
      display: flex;
      align-items: center;
      padding-top: var(--atc-card-spacing);
      padding-bottom: calc(var(--atc-card-spacing) / 2);
      padding-right: var(--atc-card-spacing);
      padding-left: var(--atc-card-spacing);
      .icon-wrapper {
        padding: 8px;
        width: var(--atc-icon-size);
        height: var(--atc-icon-size);
        aspect-ratio: 1;

        position: relative;
        display: flex;
        align-items: center;
        
        border: var(--atc-icon-border);
        justify-content: center;
        
        // background color with opacity
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: 100%;
          background: var(--atc-icon-background);
          background-size: cover; // if it's an image
          transition: background-color var(--atc-card-transition);
          
          opacity: var(--atc-icon-background-opacity);
        }
        .icon {
          transition: color var(--atc-card-transition);
          color: var(--atc-icon-color);
        }
      }
    }

    .name-area {
      grid-area: name-area;
      padding-bottom: var(--atc-card-spacing);
      padding-top: calc(var(--atc-card-spacing) / 2);
      padding-left: var(--atc-card-spacing);
      padding-right: var(--atc-card-spacing);
      position: relative;
      color: var(--atc-text-color);
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      .entity-state {
        font-size: var(--atc-state-font-size);
        font-weight: var(--atc-state-font-weight);
        line-height: normal;
        max-width: 100%;
      }
      .entity-name {
        font-size: var(--atc-name-font-size);
        font-weight: var(--atc-name-font-weight);
        line-height: normal;
        max-width: 100%;
      }
    }
  }

  &.entity-picture-as-icon {
    --atc-icon-background-opacity: 1;
  }

  /*** 
  * Densed Layout
  ***/
  &.is-densed-layout {
    .container {
      grid-template-columns: min-content calc(100% - calc(var(--atc-icon-size) + 2 * var(--atc-card-spacing)));
      grid-template-rows: auto;
      grid-template-areas:
        'icon-area name-area';
      
      .icon-area {
        padding-top: inherit;
        padding-bottom: inherit;
      }
      .name-area {
        padding-bottom: inherit;
        padding-top: inherit;
        padding-left: inherit;
      }
    }
  }

  /*** 
  * Active State 
  ***/

  &.is-active {
    --atc-card-background: var(--atc-card-background-active);
    --atc-icon-border: var(--atc-icon-border-active);
    --atc-icon-background: var(--atc-icon-background-active);
    --atc-icon-color: var(--atc-icon-color-active);
    --atc-text-color: var(--atc-text-color-active);
  }

  /*** 
  * Available State 
  ***/
  &.is-unavailable {
    --atc-card-background: var(--atc-card-background-unavailable);
    --atc-text-color: var(--atc-text-color-unavailable);
    --atc-icon-background: var(--atc-icon-background-unavailable);
    --atc-icon-color: var(--atc-icon-color-unavailable);
  }

  /*** 
  * Clicked State 
  ***/

  &.is-clicked {
    animation: var(--atc-theme-click-animation);
  }
}

/*** 
* Helper Classes 
***/

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes card_bounce {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}
